@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@font-face{
    font-family:novecento_sans_widedemibold;
    src:url(../fonts/novecentosanswide-demibold-webfont.woff2) format("woff2"),
    url(../fonts/novecentosanswide-demibold-webfont.woff) format("woff");
    font-weight:400;
    font-style:normal
    }
@font-face{
    font-family:novecento_sans_widemedium;
    src:url(../fonts/novecentosanswide-medium-webfont.woff2) format("woff2"),
    url(../fonts/novecentosanswide-medium-webfont.woff) format("woff");
    font-weight:400;
    font-style:normal;
    }

body,html{
    position:fixed;
    font-family:Open Sans,sans-serif;
    margin:0;
    height:100%;
    width:100%;
    overflow:hidden;
    font-size:20px;
    color: #949494;
    background-color:#171719;
    touch-action: auto;
    }

video{

width: 100%;
height: auto;}

img{
width: 100%;
}

.container{
    display: flex;
    flex-direction: column;
    width:100%;

    justify-content: center;
    align-items: center;
    align-content: stretch;

    }

.container-home{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
    }

.screen{
    height: fit-content;
    text-align: center;
    color: #fff;
    font-size: 10vw;
    border: 1vw solid transparent;
    padding: 1%;
    }
.menu{
    text-align: center;
    color: #03a9f4;
    background-color: #fff;
    font-size: 6vw;
    padding: 10%;
    border-radius: 15%;
    }

.pt {
    position: absolute;
    width: 6vw;
    height: 6vw;
    margin-left: -2vw;
    margin-top: -2vw;
    border-radius: 2vw;
    background-color: #03a9f4;
    cursor: pointer;
}

.slidecontainer {
    position:relative;
    z-index:2;
    left:40%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 25vw; /* Full-width */
  height: auto; /* Specified height */
  background: #03a9f4; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 1; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 5%; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #fff; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#upload {
    font-size: 7vw;
    color: #949494;
}

#open-image{
    font-size: 5vw;
    color: #949494;
}

#init{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#workspace{
    height: 80%;
    margin-bottom: 1%;
}

#screen-section{
    height: 20%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: flex;
    flex-wrap: wrap;
}

#image-section{
    width: 100%; /* or any custom size */
    height: 100%;
    margin-bottom: 1%;
    position: relative;
    z-index: 1;
}

#myImg {
    width: 100%; /* or any custom size */
    height: 100%;
    object-fit: contain;
    position: absolute;
    z-index: 1;
}

.shutter{
    font-size: 8vw;;
    color: #03a9f4;
    background-color: #fff;
    border-radius: 100%;
    padding: 1%;
    order: 1;
    position: fixed;
    right: 5%;
    bottom: 5%;
    flex-basis: 100%;
}

#action-menu{
    z-index: 2;
    width: fit-content;
    height: 50vw;
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 3%;
}

#media-menu{
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    margin-left: 6%;
}

.dropdown-content {
  position: absolute;
  height: 18vw;
  width: 16vw;
  background-color: #00000082;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

.dropbtn {
  background-color: transparent;
  color: #3498DB;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-size: 2vw;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #3498DB;
  color: white;
}

.dropdown-content ul{

  display: inline-block;
}

.grid-menu{

    display: flex;
    flex-direction: column;
    height: fit-content;
    margin-left: inherit;
}

.subset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.number{
    font-size: 3.5vw;
    color: white;
    width: 5vw;
    text-align: center;
}











